<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <b>Khush Kaushal</b>
        </a>
        <a class="navbar-item" href="/projects">
          Projects
        </a>
        <a class="navbar-item" href="/contact">
          Contact
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark" href="/resume" target="_blank">Resume</a>
            <a class="button is-link" href="https://www.linkedin.com/in/khushkaushal/" target="_blank">LinkedIn</a>
            <a class="button is-link" href="https://github.com/khushkaushal" target="_blank">Github</a>
            <a class="button is-link" href="mailto:khush.kaushal@email.kpu.ca">E-mail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      <b>Analytics</b>
    </p>
  </div>
</section>

<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
  <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title has-text-black">What is Analytics?</p>
      <p>Analytics was started as a fun hackathon project which turned into a KPI tool for our team. Analytics is a microservice running within MDSS that reports the usage of scripts, processing times, errors etc. This helps us build some really cool dashboards to track our performance and tools. It even helps us catch bugs before user reports them.</p>
    </div>
    <div class="tile is-child box">
      <p class="title has-text-black">Tech Stack</p>
      <p>Python, Segment, Amazon Red-shift clusters, unittest, PyUnit, Github, Docker, Looker.</p>
    </div>
  </div>
  <div class="notification is-danger">
  <p><b>Sorry no images for this one due to privacy issues :( . Here is a cute cat picture though :) . </b></p> </br>
   <figure class="image is-480x480">
            <%= image_tag ("cat.png")%>
      </figure>
</div>
</div>
  </div>
</section>
