<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <b>Khush Kaushal</b>
        </a>
        <a class="navbar-item" href="/projects">
          Projects
        </a>
        <a class="navbar-item" href="/contact">
          Contact
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark" href="/resume" target="_blank">Resume</a>
            <a class="button is-link" href="https://www.linkedin.com/in/khushkaushal/" target="_blank">LinkedIn</a>
            <a class="button is-link" href="https://github.com/khushkaushal" target="_blank">Github</a>
            <a class="button is-link" href="mailto:khush.kaushal@email.kpu.ca">E-mail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <p class="title">
      Looking for developer? I'm looking for remote work opportunities, please get in touch!
      </br></br>
      <a href="mailto:khush.kaushal@email.kpu.ca">Email: khush.kaushal@email.kpu.ca</a>
    </p>
  </div>
</section>