<nav class="navbar">
  <div class="container">
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          <b>Khush Kaushal</b>
        </a>
        <a class="navbar-item" href="/projects">
          Projects
        </a>
        <a class="navbar-item" href="/contact">
          Contact
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark">Resume</a>
            <a class="button is-link" href="https://www.linkedin.com/in/khushkaushal/" target="_blank">LinkedIn</a>
            <a class="button is-link" href="https://github.com/khushkaushal" target="_blank">Github</a>
            <a class="button is-link" href="mailto:khush.kaushal@email.kpu.ca">E-mail</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-link is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="card">
  <div class="card-image">
    <figure class="image is-4by4">
      <%= image_tag ("Khush Kaushal.png")%>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Khush Kaushal</p>
        <p class="subtitle is-6">@khushkaushal</p>
      </div>
    </div>

    <div class="content">
      <b>Clear your mind of can't.</b>
      <br>
      <time datetime="2020-2-22">11:09 AM - 22 Feb 2020</time>
    </div>
  </div>
</div>

    <p class="title pl-5">
      Hi I'm Khush! Full stack software engineer, car enthusiast and intermediate hiker.
        </br></br>
      My love for programming comes from an obsession with problem solving. At the end of every head-scratcher awaits a hit of dopamine. I have automated atleast 70 percent of every job i have held and i am a firm believer of if you are doing the same thing everyday you need to automate it and move onto doing something more fun. My automations were built using Python, Ruby, C-shell and powershell.
        </br></br>
      All the skills I've learned along the way have made me realise how little I know. This is why I am spending my holidays, learning more about Ruby on Rails and web development. I am on the lookout for new opportunities remotely in Vancouver, BC, aka Home. Please get in touch with me if you're looking for a Full Stack Developer with an addiction to solving problems and increasing team efficiency.
      
    </p>
  </div>
</section>